//border to replace code for multiple elements(.left-window, .select, .filter-button, .song-name)

%border {
  border: 2px solid black;
}

%inline-block {
  display: inline-block;
}

%list-style-type {
  list-style-type: none;
}
